.header {
  position: fixed;
  // position: sticky;
  // position: -webkit-sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  transition: $header-transition;
  z-index: $zindex-header;
  background-color: rgba($header-bg, 0);
  color: $white;

  &:not(&__light):not(&__scrolled) {
    .container {
      @include divider(bottom, $white);
    }
  }

  &__light,
  &__scrolled {
    background-color: rgba($header-bg, 1);
    color: $primary;
    .container {
      @include divider(bottom, $primary);
    }
  }
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: border-color $timing-sm $ease-out;
}

.logoWrapper,
.actionsWrapper {
  display: flex;
  align-items: center;
  // min-width: 8.5rem;
}

.logoWrapper {
  justify-content: flex-start;
}

.actionsWrapper {
  justify-content: flex-end;
}

.languageSelector {
  opacity: 1;
  margin-right: $gutter * .5;
  transition: color $timing-sm $ease-out, opacity $timing-md $ease-out;
  @include hover-state() {
    color: inherit;
    opacity: .75;
  }
  @include breakpoint-down(md) {
    display: none;
  }
}