.hero {
  margin-top: calc(var(--header-height) * -1);
}

.container {
  margin-top: var(--header-height);
}
//
//.grid {
//  min-height: 50vh;
//  display: flex;
//}

.title {
  font-size: $h2-font-size;
}

.primaryHeroImage {
  position: relative;
  right: 9vw;
  width: 38vw;
  @include breakpoint-down(lg) {
    right: 0;
    margin: $gutter * 3 auto 0;
    width: 100%;
    max-width: 100%;
  }
}

.primaryDescription {
  p {
    max-width: 80%;
  }
}
