.question {
  display: block;
  margin: 0;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $border-width;
    @include divider(top, $primary);
    opacity: 1;
    transition: opacity $timing-sm $timing-sm / 2 $ease-in;
  }
  &:last-child {
    &:after {
      @include breakpoint-down(md) {
        border-top: none;
      }
    }
  }
  &__open {
    &:after {
      opacity: 0;
      transition: none;
    }
  }
}

.toggleBtn {
  @include reset-button();
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  color: inherit;
  font-size: $font-size-normal;
  padding: $gutter * 1.5 0;
  line-height: $line-height-base;
  & > span {
    margin-right: $gutter;
  }
  & > svg {
    margin-top: -0.275em;
    color: $tertiary;
    transition: color $timing-md $ease-out;
    flex: 0 0 auto;
  }
  @include hover-state() {
    & > svg {
      color: $accent;
    }
  }
}

.answer {
  overflow: hidden;
  color: inherit;
  font-size: $font-size-small;
  img {
    width: 100%;
  }
  & > span {
    display: block;
    padding: 0 0 $gutter * 2 0;
    width: 100%;
    max-width: calc(100% - 48px);
    @include breakpoint-down(md) {
      max-width: 100%;
    }
  }
  &__open {
    @include divider(bottom, $primary);
  }
}
