.newsBig {
  display: block;
  width: 100%;
  min-height: calc(14rem + 6vw);
  @media screen and (min-width: $container-max-width) {
    min-height: 20rem;
  }
}

.link,
.body {
  position: relative;
  width: 100%;
  height: 100%;
}

.link {
  display: block;
  color: $white;
  background-color: $primary;
  overflow: hidden;
  svg {
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform $timing-lg $ease-out;
    backface-visibility: hidden;
  }
  @include hover-state() {
    color: $white;
    .image {
      transform: scale(1.06);
    }
    svg:not(.beam) {
      transform: scale(0.96);
    }
  }
  @include active-state() {
    .image {
      transition: transform $timing-md $ease-out;
      transform: scale(1);
    }
  }
}

.imageWrapper {
  position: absolute;
  inset: 0;
  z-index: 0;
  &:after {
    content: '';
    position: absolute;
    inset: 0;
    @include dark-overlay-gradient();
  }
  &_inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.image {
  transform-origin: 50% 50%;
  transform: scale(1);
  transition: transform $timing-xl * 3 $ease-out;
  backface-visibility: hidden;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 1;
  padding: $gutter;
  @include breakpoint-up(md) {
    padding: $gutter * 1.5;
  }
}

.date,
.title {
  display: block;
  color: inherit;
  font-size: $h5-font-size;
  transition: color $timing-lg $ease-out;
}

.date {
  @include sub-heading();
  margin: 0 0 0.5rem 0;
}

.title {
  line-height: $line-height-base;
  margin: 0 0 1.25rem 0;
}

.excerpt {
  display: block;
  color: inherit;
  font-size: $font-size-small;
  @include line-clamp(2);
  margin: 0 0 1.25rem 0;
}