.questionTitleWrapper {
  text-align: left;
  //   color: $white;
  width: 100%;
  max-width: 628px;
}

.title {
  //   color: $white;
  padding-top: $gutter * 1;
}

.category {
  //   color: $white;
  font-weight: normal;
  text-transform: uppercase;
}
