.switcher {
  position: relative;
}

.link {
  @include menu-item-text();

  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  margin-right: 0.5rem;
  cursor: pointer;
  color: white;

  @include hover-state() {
    color: inherit;
    opacity: 0.75;
  }

  &.light {
    color: $primary;
  }
}

.linksWrapper {
  position: absolute;
  left: -10px;
  top: 30px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  opacity: 0;
  transform: translateY(10px);
  visibility: hidden;
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;
  border: 1px solid $primary;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 40px;
    height: 32px;
    color: $primary;

    &:first-of-type {
      border-bottom: 1px solid;
    }

    &:hover {
      color: $primary;
      opacity: 0.75;
    }
  }

  &.active {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
  }
}

.sidebar {
  .linksWrapper {
    top: 10px;
    overflow: hidden;
    left: 55px;
    display: flex;
    transform: translateY(0px);
    transform: translateX(-10px);

    &.active {
      transform: translateX(0px);
    }

    a {
      color: $primary !important;
      border: 0;

      &:first-of-type {
        border-right: 1px solid;
      }
    }
  }
}