.headingColumn {
  @include breakpoint-down(md) {
    margin: 0 auto;
    div {
      text-align: center;
    }
  }
}

.rightColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stepsContainer {
  position: relative;
  padding: 2.25rem 1.625rem;
  flex: 1;
  width: 100%;
  top: -1rem;
  @include breakpoint-down(lg) {
    padding: 2.25rem 0;
  }
}

.stepItem {
  display: flex;
}

.stepIndex {
  font-weight: $font-weight-light;
  margin-right: 2.625rem;
  min-width: 40px;
  @include breakpoint-down(lg) {
    margin-right: $gutter;
  }
}

.stepItemContent {
  color: $primary;
  svg {
    color: $accent;
    cursor: pointer;
    transition: opacity $timing-md $ease-out, color $timing-md $ease-out;
    &:hover {
      opacity: 0.5;
    }
  }
}

.stepName {
  margin-bottom: $gutter * 0.5;
}

.stepsList {
  list-style-type: none;
  padding: 0;
  @include divider('bottom', $primary);
  li {
    font-size: $font-size-big;
    font-weight: $font-weight-medium;
    padding-bottom: $gutter * 1.25;
    display: flex;
    align-items: baseline;
    &:before {
      content: ' ';
      display: block;
      background: $accent;
      width: 10px;
      height: 10px;
      margin-right: $gutter * 1;
      flex: 0 0 auto;
    }
  }
}

.arrowColumn {
  @include breakpoint-down(lg) {
    display: none;
  }
}
