.carousel {
  margin-top: $gutter * 2;
}

.slide {
  height: auto;
  align-self: stretch;
  & > * {
    height: 100%;
    padding: 0.5rem;
  }
}

.navigationBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $gutter;
  margin-bottom: 0;
  @include breakpoint-up(md) {
    justify-content: center;
    margin-top: $gutter * 2.5;
    margin-bottom: $paragraphs-margin-bottom;
    > div {
      margin-left: auto;
    }
  }
}
.button {
  margin-right: auto;
  @include breakpoint-up(md) {
    position: absolute;
  }
}
