.screen {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $primary;
  align-items: center;
  justify-content: center;
  .logoWrapper {
    position: relative;
    width: 60%;
    height: 20vh;
    margin: 0 auto;
  }
  .comingSoon {
    width: 60%;
    margin: 0 auto;
    color: $white;
    text-align: center;
    text-transform: uppercase;
  }
}
