$beam-colors: (
  'white': $white,
  'primary': $primary,
  'secondary': $secondary,
  'tertiary': $tertiary,
  'accent': $accent,
);

.logoBarSection {
  padding: $gutter * 2 0 !important;
  .logoContainer {
    margin-top: $gutter * 2;
    .logo {
      img {
        max-height: 30px;
        margin-right: $gutter * 8;
        width: auto;
      }
    }
  }
}

@include breakpoint-down(lg) {
  .logoBarSection {
    .logoContainer {
      .logo {
        img {
          margin-right: $gutter * 4.5;
        }
      }
    }
  }
}

@include breakpoint-down(md) {
  .logoBarSection {
    .logoContainer {
      margin-top: $gutter * 1.5;
      .logo {
        img {
          max-height: 25px;
          margin-right: $gutter * 3;
        }
      }
    }
  }
}
