$beam-colors: (
  'white': $white,
  'primary': $primary,
  'secondary': $secondary,
  'tertiary': $tertiary,
  'accent': $accent,
);

.logoContainer {
  margin-top: $gutter * 2.5;
  .logo {
    img {
      max-height: 75px;
      margin-right: $gutter * 4;
      width: auto;
    }
  }
}

@include breakpoint-down(lg) {
  .logoContainer {
    .logo {
      img {
        margin-right: $gutter * 3;
      }
    }
  }
}

@include breakpoint-down(md) {
  .logoContainer {
    margin-top: $gutter * 1.5;
    .logo {
      img {
        max-height: 50px;
        margin-right: $gutter * 2;
      }
    }
  }
}
