.transaction {
  display: block;
  margin-top: $gutter * 3;
  width: 100%;
  @include breakpoint-up(md) {
    margin-top: 0;
    margin-left: auto;
    width: 85%;
  }
}

.body,
.cover {
  width: 100%;
}

.cover {
  position: relative;
  background-color: $secondary;
  color: $white;
}

.imageWrapper {
  position: absolute;
  inset: 0;
  z-index: 0;
  &:after {
    content: '';
    position: absolute;
    inset: 0;
    @include dark-overlay-gradient();
  }
  &_inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.logosCover {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: $gutter;
  @include breakpoint-up(sm) {
    padding: $gutter * 0.5 $gutter * 2;
  }
  aspect-ratio: 5/2;
  & > *:not(.beam) {
    flex: 1;
    flex-shrink: 0;
  }
}

.transactionLogoFallback {
  font-size: $font-size-tiny;
  font-weight: $font-weight-bold;
  margin: 0 !important;
  line-height: 1;
  color: rgba($secondary, 0.5);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.beam {
  height: 4.5rem;
  margin: 0 $gutter;
}

.body {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  aspect-ratio: 4/2;
  .bodyTitle {
    font-size: $font-size-small;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    margin-top: 8px;
  }
  .bodyValue {
    font-size: $font-size-normal;
    font-weight: $font-weight-bold;
  }
  padding: $gutter;
  @include breakpoint-up(md) {
    padding: $gutter * 2.5;
  }
}

.date,
.title {
  display: block;
  color: inherit;
  font-size: $h5-font-size;
}

.date {
  @include sub-heading();
  margin: 0 0 0.5rem 0;
}

.title {
  line-height: $line-height-base;
  margin: 0 0 1.25rem 0;
  width: 100%;
  @include breakpoint-up(md) {
    max-width: 66%;
  }
}

.excerpt {
  display: block;
  color: inherit;
  font-size: $font-size-small;
  @include line-clamp(2);
  margin: 0 0 1.25rem 0;
}
