// Hero base / shared styles
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero {
  position: relative;
  width: 100%;
  overflow: hidden;

  h1, p {
    margin: 0;
  }

  p {
    margin-top: $headings-margin-bottom;
    width: 100%;
  }
}

.heroLoaded {
  & > div {
    animation: fadeIn 1s;
  }
}

.btnWrapper {
  display: block;
  margin: $btn-wrapper-margin-top 0 0 0;
  button,
  a {
    margin-right: 2rem;
    @include breakpoint-down(md) {
      margin-bottom: 1rem;
    }
  }
}
.heroBottomBackground {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}
