.hamburger {
  @include reset-button();
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $container-padding-x;
  margin-right: -$container-padding-x;
  & > svg {
    transition: color $timing-sm $ease-out;
  }
}
