// Custom Zumera 'print' divider line

@mixin divider($border-side: top, $color: $white, $is-transaction: false) {
  $sides: (top, bottom, left, right);
  $gradient-angle: if(
    $border-side == left or $border-side == right,
    180deg,
    90deg
  );
  border-style: solid;
  border-width: 0;
  @each $side in $sides {
    @if ($border-side == $side) {
      border-#{$border-side}-width: $border-width;
      @if ($is-transaction) {
        border-image: linear-gradient(
            $gradient-angle,
            rgba($color, 0) 0%,
            $color 15%,
            $color 30%,
            rgba($color, 0) 100%
          )
          1;
      } @else {
        border-image: linear-gradient(
            $gradient-angle,
            rgba($color, 0) 0%,
            $color 50%,
            rgba($color, 0) 100%
          )
          1;
      }
    }
  }
}
