@mixin zumera-gradient(
  $x: 0%,
  $y: 100%,
  $radial-size: $zumera-gradient-size
) {
  background: $primary; // Fallback
  background: radial-gradient(
    $radial-size $radial-size at $x $y,
    $zumera-gradient-front 0%,
    $zumera-gradient-middle-front 25%,
    $zumera-gradient-middle-back 75%,
    $zumera-gradient-back 100%
  );
}