.grid {
  --gutter: #{$container-padding-x};

  @include push-auto-x();
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  width: 100%;
  max-width: $container-max-width;

  &__fullWidth {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.row {
  --column: calc(100% / 12);

  width: inherit;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--gutter) * -1);
  margin-right: calc(var(--gutter) * -1);
}

.column {
  position: relative;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  flex: 0 0 calc(var(--column) * 12);
  max-width: calc(var(--column) * 12);

  @each $breakpoint, $_ in $breakpoints {
    @include breakpoint-up($breakpoint) {
      @include make-cols($breakpoint, 12)
    }
  }
}


