.overlay {
  backdrop-filter: blur(6px);
  position: fixed;
  inset: 0px;
  z-index: 999999;
}

.modal {
  position: absolute;
  inset: 15px;
  background: $secondary;
  overflow: auto;
  outline: none;
  padding: $gutter * 2;
  color: $white;
  max-width: 1216px;
  margin: var(--header-height) auto 0 auto;

  @include breakpoint-up(md) {
    padding: $gutter * 1 $gutter * 2.5;
    inset: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
  }
}

.formWrapper {
  padding-bottom: $gutter * 2;
}

.closeBtn {
  background: none;
  border: unset;
  cursor: pointer;
  color: $white;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}

.downloadBtn {
  box-shadow: $btn-box-shadow;
  svg {
    fill: none;
  }
}

.thumbnail {
  height: 100%;
  object-fit: cover;
  max-width: 100%;
  margin-top: $gutter * 1.5;
}
