.radioButtonWrapper {
  @include calculator-checkbox();
  height: auto;
  min-height: var(--calculator-checkbox-size);
  padding-top: 24px;
  padding-bottom: 24px;
}

.icon {
  filter: brightness(0) invert(1);
}

.flexCol {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.flexWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: $white;

  p {
    margin-bottom: 8px;
  }

  ul,
  li {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;

  }

  ul {
    margin-left: 0;
    margin-top: 8px;
  }

  li {
    margin-left: 0;
  }
}

.button {
  position: relative;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: $dark;
  border: solid $border-width $quaternary;

  &.active {
    border: solid $border-width $accent;
  }

  &.active::after {
    content: '';
    position: absolute;
    top: 7px;
    left: 7px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: $accent;
  }
}
