.hero {
  margin-top: calc(var(--header-height) * -1);
  @include breakpoint-down(md) {
    padding-bottom: 0 !important;
  }
}

.container {
  margin-top: var(--header-height);
  position: static;
}

.title {
  font-size: $h2-font-size;
}

.primaryHeroImage {
  position: relative;
  right: 59px;
  @include breakpoint-down(md) {
    right: 0;
    margin: 3rem auto 0;
    width: 100%;
  }
}

.primaryDescription {
  p {
    max-width: 80%;
  }
}

.animationImage {
  position: absolute;
  right: 0;
  min-height: 999px;
  @include breakpoint-up(md) {
    right: calc((100vw - #{$container-max-width}) / 2);
    margin-right: $container-padding-x;
    top: var(--header-height);
    align-self: flex-start;
    width: 100%;
    max-width: 34rem;
  }
  @include breakpoint-down(md) {
    @include divider('top', $primary);
    //aspect-ratio: 1/1;
    top: 0;
    min-height: auto;
    position: relative;
    margin-top: 2rem;
    width: 100%;
    //display: flex;
    //justify-content: center;
  }
}

.placeholder {
  width: 100%;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 0;
  opacity: 1;
  @include breakpoint-down(md) {
    max-width: 75%;
  }
}
.lottie {
  opacity: 0;
  transition: opacity 0.2s linear;
  //aspect-ratio: 1/1;
}

.fadeId {
  .placeholder {
    opacity: 0;
    height: 0;
  }
  .lottie {
    opacity: 1;
  }
}
