.hero {
  margin-top: calc(var(--header-height) * -1);
  @include breakpoint-down(md) {
    padding-bottom: 0 !important;
  }
}

.container {
  margin-top: var(--header-height);
}

.title {
  font-size: $h2-font-size;
}

.primaryHeroImage {
  position: relative;
  right: 59px;
  @include breakpoint-down(md) {
    right: 0;
    margin: 3rem auto 0;
    width: 100%;
  }
}

.primaryDescription {
  p {
    max-width: 80%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animationImage {
  position: absolute;
  right: 0;
  width: 50%;
  @include breakpoint-down(md) {
    @include divider('top', $primary);
    position: relative;
    margin-top: 2rem;
    width: 100%;
  }
}

.fadeId {
  animation: fadeIn 1s;
}
