.hero {
  --hero-offset-bottom: 128px;
  --hero-height: calc(100vh - var(--hero-offset-bottom));
  --hero-min-height: 536px;
  --hero-max-height: calc(var(--hero-min-height) * 1.5);

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  height: var(--hero-height);
  min-height: var(--hero-min-height);
  max-height: var(--hero-max-height);
  padding-top: calc(var(--header-height) / 2);
  // margin-top: calc(var(--header-height) * -1);
  background-color: $primary;
  color: $white;
  z-index: 1;

  @include breakpoint-up(sm) {
    --hero-min-height: 648px;
  }

  h1, p {
    margin: 0;
  }

  p {
    margin-top: $headings-margin-bottom;
    width: 100%;
    max-width: 70%;
    @include breakpoint-up(md) {
      max-width: 48%;
    }
  }
}

.container {
  margin-top: $gutter * 2;
  margin-bottom: $gutter * 2;
}

.gradient {
  --gradient-front: #{$zumera-gradient-front};
  --gradient-middle-front: #{$zumera-gradient-middle-front};
  --gradient-middle-back: #{$zumera-gradient-middle-back};
  --gradient-back: #{$zumera-gradient-back};
  --gradient-size: #{$zumera-gradient-size};

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  z-index: -1;
}

.btnWrapper {
  display: block;
  margin: $btn-wrapper-margin-top 0 0 0;
}

.beam {
  --beam-offset-x: 60%;
  position: absolute;
  top: 0;
  height: 100%;
  right: $container-padding-x;
  transform: translateX(var(--beam-offset-x));
  @include breakpoint-up(md) {
    --beam-offset-x: -25%;
  }
}