.heroContainer {
  @include divider('bottom', $primary);
  padding: 1rem 1rem 2rem 1rem;
}
.title {
  font-size: $h2-font-size;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: $gutter * 2;
  aspect-ratio: 1/1;
  @include breakpoint-up(md) {
    margin-top: 0;
  }
}

.details {
  list-style-type: none;
  margin: $gutter * 1.5 0 0 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: $gutter * 0.5;
  @include breakpoint-up(md) {
    flex-direction: row;
    gap: $gutter;
  }
  width: 100%;
  max-width: 56rem;
}

.detail {
  display: block;
  margin: $gutter 0 0 0;
  flex: 1;
  &_title,
  &_text {
    color: inherit;
    margin: 0;
    font-size: $font-size-big;
    line-height: $line-height-sm;
    letter-spacing: $letter-spacing-body;
  }
  &_title {
    text-transform: none;
  }
  &_text {
    font-size: $font-size-small;
    margin-top: $gutter * 0.5 !important;
  }
}
