.bigMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $zindex-header + 1;
  background-color: $big-menu-bg;
  @include breakpoint-up(md) {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
}