.menu {
  padding: 0;
  margin: 0 $gutter * 0.5;
  width: 100%;
  flex: 1;
  @include breakpoint-down(md) {
    display: none;
  }
}

.items {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

.item {
  position: relative;
  text-align: center;
  margin: 0 $gutter * .85;
  @include breakpoint-up(lg) {
    margin: 0 $gutter * 1.25;
  }

  .dropdown {
    position: relative;

    .dropdownToggle {
      // Styles for the dropdown toggle button
      background-color: transparent;
      border: none;
      color: inherit;
      cursor: pointer;
      font-size: inherit;
      padding: 0;
      display: flex;
      align-items: center;
      text-transform: uppercase;

      &:focus {
        outline: none;
      }

      .dropdownIcon {
        // Styles for the dropdown icon
        margin-left: 5px;
        font-size: 0.8em;
      }
    }

    .dropdownMenu {
      // Styles for the dropdown menu
      position: absolute;
      top: 30px;
      right: 0;
      background-color: #e3dfe3;
      border: 1px solid #300032;;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      list-style: none;
      margin: 0;
      min-width: auto;
      z-index: 1;
      border-radius: 4px;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      gap: 0px;
      padding: 8px 0px;

      .dropdownItem {
        // Styles for the dropdown items
        display: inline-flex;
        gap: 10px;
        text-align: left;
        white-space: nowrap;

        .dropdownLink {
          // Styles for the dropdown links
          padding: 6px 10px;
          color: $secondary;
          text-decoration: none;
          display: block;
          width: 100%;
          border-radius: 8px;
          margin: 0 6px;
        }
      }

      .dropdownDivider {
        // Styles for the dropdown divider
        border-top: 1px solid #300032;
        margin: 4px 0;
      }
    }
  }
}

.link {
  $this: &;
  display: inline-block;
  line-height: 1;
  text-align: center;
  color: inherit;
  @include menu-item-text();
  opacity: 1;
  transition: color $timing-sm $ease-out, opacity $timing-md $ease-out;
  &__active {
    font-weight: $font-weight-bold;
  }
  @include hover-state() {
    color: inherit;
    &:not(#{$this}__active) {
      opacity: 0.75;
    }
  }
}