.form {
  --padding: #{$gutter * 1.5};
  margin-top: $gutter * 3;
  @include breakpoint-up(md) {
    margin-top: 0;
  }
  @include breakpoint-up(lg) {
    --padding: #{$gutter * 3};
  }
  display: block;
  padding: var(--padding);
  border-radius: $border-radius;
  border: $border-width solid $white;
}

.formHeader {
  margin: 0 0 $form-group-margin-bottom * 1.25 0;
  p {
    font-size: $font-size-small;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.title {
  font-size: $h5-font-size;
  font-weight: $font-weight-bold;
  margin: 0 0 $headings-margin-bottom * .5;
}

.submitBtn {
  width: 100%;
  text-align: center;
  justify-content: center;
}