.logo {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 100px;
  overflow: hidden;
  @include breakpoint-up(lg) {
    width: 135px;
  }
  div {
    width: 100%;
  }
  svg {
    &:last-of-type {
      margin-top: 8px;
    }
  }
}

.logo,
.logo * {
  cursor: pointer;
}
