.logo {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 100px;
  overflow: hidden;
  @include breakpoint-up(lg) {
    width: 135px;
  }
  div {
    width: 100%;
  }
  svg {
    &:last-of-type {
      width: 112px;
      margin-left: auto;
      margin-top: 8px;
      @include breakpoint-down(md) {
        width: 82px;
        margin-top: 6px;
      }
    }
  }
}

.logo,
.logo * {
  cursor: pointer;
}
