.logo {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 112px;
  @include breakpoint-up(lg) {
    width: 135px;
  }
  div {
    width: 100%;
  }
}

.logo,
.logo * {
  cursor: pointer;
}
