.quoteNameSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .image {
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
  }
  .name {
    font-weight: bold;
    margin-bottom: 0;
  }
  .position {
    text-transform: uppercase;
  }
}
