@font-face {
  font-family: 'Condor';
  font-weight: normal;
  font-display: swap;
  src: url('https://zumera-frontend-staging.herokuapp.com/static/pdf/Condor-Regular-Testing.otf');
}
@font-face {
  font-family: 'Inter';
  font-weight: normal;
  font-display: swap;
  src: url('https://zumera-frontend-staging.herokuapp.com/static/pdf/Inter-Regular.ttf');
}
@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-display: swap;
  src: url('https://zumera-frontend-staging.herokuapp.com/static/pdf/Inter-SemiBold.ttf');
}
@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-display: swap;
  src: url('https://zumera-frontend-staging.herokuapp.com/static/pdf/Inter-Bold.ttf');
}

html {
  font-size: 12px;
  color: #333;
  font-family: 'Inter';
}

h1 {
  font-size: 24px;
  font-family: 'Condor';
}

h2 {
  font-size: 20px;
  font-family: 'Condor';
}

h3 {
  font-size: 16px;
  font-family: 'Condor';
  margin: 0;
  padding: 0;
}

p {
  line-height: 18px;
}
