.carousel {
  margin-top: $gutter * 2;
  @include breakpoint-down(md) {
    overflow: visible;
  }
}

.section {
  @include breakpoint-down(md) {
    overflow: hidden;
  }
}

.slide {
  height: auto;
  align-self: stretch;
  & > * {
    height: 100%;
    padding: 0.5rem;
  }
}

.navigationBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $gutter * 0.5;
  margin-bottom: 0;
  padding-left: $gutter;
  padding-right: $gutter;
  min-height: 50px;
  @include breakpoint-up(sm) {
    margin-bottom: $paragraphs-margin-bottom;
  }
  @include breakpoint-down(sm) {
    justify-content: center;
  }
}

.swiperButtons {
  position: absolute;
  right: 0;
  display: flex;
  margin-left: $gutter * 2;
  @include breakpoint-down(sm) {
    display: none;
  }
}
