@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: calc(var(--header-height) * -1);
  h1,
  p {
    margin: 0;
  }

  p {
    margin-top: $headings-margin-bottom;
    width: 100%;
  }

  & > div {
    animation: fadeIn 1s;
  }

}

.btnWrapper {
  display: block;
  margin: $btn-wrapper-margin-top 0 0 0;
  button,
  a {
    margin-right: 2rem;
    @include breakpoint-down(md) {
      margin-bottom: 2rem;
    }
  }
}

.container {
  margin-top: var(--header-height);
}

.title {
  font-size: $h2-font-size;
}

.description {
  p {
    max-width: 80%;
  }
}

.purposesWrapper {
  border: $border-width solid $quaternary;
  border-radius: $border-radius;
  text-align: center;
  padding: $gutter * 2;
  @include breakpoint-up(lg) {
    padding: $gutter * 3
  }
  h4 {
    margin-bottom: $headings-margin-bottom * 2;
  }
}

.purposes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  gap: $gutter * 0.5;
}

.purpose {
  cursor: pointer;
  color: inherit !important;
  border: $border-width solid $quaternary;
  border-radius: $border-radius-sm;
  font-size: $font-size-normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  backface-visibility: hidden;
  will-change: transform, background-color, border-color;
  transition: border-color $timing-sm $ease-out,
  background-color $timing-sm $ease-out, transform $timing-sm $ease-out;
  transform-origin: 50% 50%;
  padding: $gutter * 1.5 $gutter * 0.75;
  @include breakpoint-up(lg) {
    padding: $gutter * 2 $gutter;
  }
  &.selected,
  &:hover {
    border-color: $accent;
    background-color: $zumera-gradient-middle-back;
  }
  &:hover {
    transform: scale(0.98);
  }
  &:active {
    transform: scale(0.96);
    transition-duration: $timing-xs;
  }
}
