.sectionWrapper {
  overflow: hidden;
}
.sliderHeader {
  color: $white;
}
.sliderButtons {
  display: flex;
  justify-content: flex-end;
  svg {
    color: $white;
  }
  @each $key, $value in $breakpoints {
    @if ($key == 'md') {
      @media screen and (max-width: $value) {
        display: none;
      }
    }
  }
}
.swiper {
  margin-top: 40px;
  overflow: visible;
}
.selectorTile {
  aspect-ratio: 1 / 1;
  max-width: 100%;
  border: 1px solid $quaternary;
  border-radius: 20px;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 16px;
  cursor: pointer;
  transition: all 0.2s linear;
  &:hover,
  &.active {
    border-color: $accent;
    background: $primary-alt;
  }
}
.tileImage {
  margin-bottom: auto;
}
.tileTitle {
  margin-bottom: auto;
  font-size: $font-size-small;
}
.transactionsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
  margin-top: 80px;
  @each $key, $value in $breakpoints {
    @if ($key == 'md') {
      @media screen and (max-width: $value) {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 24px;
        grid-column-gap: 10px;
      }
    }
  }
}
.loader {
  span {
    border-color: $white;
    border-right-color: transparent;
  }
}
.loadMore {
  margin: 2rem auto 0;
}
