.sectionWrapper {
  overflow: hidden;
}

.sliderHeader {
  color: $white;
}

.sliderButtons {
  display: flex;
  justify-content: flex-end;
  svg {
    color: $white;
    &:hover {
      color: $accent;
    }
  }
  @include breakpoint-down(lg) {
    display: none;
  }
}

.swiper {
  margin-top: $gutter * 3;
  overflow: visible;
}

.swiperSlide {
  height: auto;
}

.selectorTile {
  height: 100%;
  max-width: 100%;
  border: $border-width solid $quaternary;
  border-radius: $border-radius-sm;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: $gutter;
  cursor: pointer;
  backface-visibility: hidden;
  will-change: transform, background-color, border-color;
  transition: border-color $timing-sm $ease-out,
    background-color $timing-sm $ease-out, transform $timing-sm $ease-out;
  transform-origin: 50% 50%;
  &:hover,
  &.active {
    background-color: $primary-alt;
  }
  &:hover {
    transform: scale(0.98);
  }
  &:active {
    transform: scale(0.96);
    transition-duration: $timing-xs;
  }
  &.active {
    transform: scale(1.08);
    border-color: $accent;
    transition-duration: $timing-md;
  }
}

.tileImage {
  width: 32px;
  height: 32px;
  position: relative;
  margin-bottom: $gutter;
  //flex: 1;
  flex: 0 0 auto;
}

.tileTitle {
  font-size: $font-size-small;
  flex: 1;
  &__noIcon {
    flex: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.transactionsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
  margin-top: 80px;
  @include breakpoint-down(lg) {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 10px;
  }
}

.loader {
  span {
    border-color: $white;
    border-right-color: transparent;
  }
}

.loadMore {
  margin: $gutter * 2 auto 0;
}
