.checkboxWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 192px;
  height: 192px;
  border: solid $border-width $quaternary;
  border-radius: 1.25rem;
  cursor: pointer;
  text-align: center;
  position: relative;

  &:hover,
  &.active {
    border: solid $border-width $accent;
    background-color: $dark;
  }
}

.icon {
  filter: brightness(0) invert(1);
}

.label {
  color: $white;
}

.button {
  position: absolute;
  top: 15px;
  right: 10px;
  height: 25px;
  width: 25px;
  border-radius: 20%;
  background-color: $dark;
  border: solid $border-width $quaternary;

  &.active {
    border: solid $border-width $accent;
  }

  &.active::after {
    content: '\2713';
    position: absolute;
    top: 0px;
    left: 5px;
    color: $accent;
  }
}
