.approachItem {
  padding: 4rem 0;
  @include divider('bottom', $primary);
  &:last-child {
    border-bottom: none;
  }
}
.textCol {
  margin-right: auto;
  margin-left: initial;
  @include breakpoint-down(md) {
    > div {
      text-align: center !important;
    }
  }
}
.reversed {
  > div {
    display: flex;
    flex-direction: row-reverse;
  }
  .textCol {
    margin-left: auto;
  }
}
.imageCol {
  @include breakpoint-down(md) {
    aspect-ratio: 1/1;
    padding: 0 1rem;
    .image {
      width: 90%;
      position: relative;
      aspect-ratio: 1/1;
      margin: 0 auto;
    }
  }
}
.titles {
  @include breakpoint-down(md) {
    padding: 0 1rem;
  }
}
