.carousel {
  margin-top: $gutter * 2;
}

.slide {
  height: auto;
  align-self: stretch;
  & > * {
    height: 100%;
    padding: $gutter;
  }
}

.navigationColumn {
  display: flex;
  justify-content: flex-start;
  margin-top: $gutter;
  margin-bottom: 0;
  @include breakpoint-up(sm) {
    justify-content: flex-end;
    margin-top: 0;
    margin-bottom: $paragraphs-margin-bottom;
  }
}
.button {
  margin-right: auto;
  @include breakpoint-up(md) {
    margin-left: 41%;
  }
}
