.carousel {
  margin-top: $gutter * 2;
  @include breakpoint-down(sm) {
    overflow: visible;
  }
}

.slide {
  height: auto;
  align-self: stretch;
  & > * {
    height: 100%;
    padding: 0.5rem;
  }
}

.navigationColumn {
  display: none;
  justify-content: flex-start;
  margin-top: $gutter * 0.5;
  margin-bottom: 0;
  padding-left: $gutter;
  padding-right: $gutter;
  @include breakpoint-up(sm) {
    justify-content: flex-end;
    margin-bottom: $paragraphs-margin-bottom;
  }
  @include breakpoint-up(sm) {
    display: flex;
  }
}

.button {
  margin-right: auto;
  @include breakpoint-up(md) {
    margin-left: 41%;
  }
}
