.carousel {
  margin-top: $gutter * 2;
  @include breakpoint-down(md) {
    width: calc(100% + #{$container-padding-x * 2});
    margin-left: -$container-padding-x;
  }
}

.slide {
  height: auto;
  align-self: stretch;
  & > * {
    height: 100%;
    padding: 0.5rem;
  }
}

.navigationColumn {
  display: flex;
  justify-content: flex-start;
  margin-top: $gutter * 0.5;
  margin-bottom: 0;
  padding-left: $gutter;
  padding-right: $gutter;
  @include breakpoint-up(sm) {
    justify-content: flex-end;
    margin-bottom: $paragraphs-margin-bottom;
  }
  @include breakpoint-down(sm) {
    justify-content: center;
  }
}

.swiperButtons {
  display: flex;
  margin-left: $gutter * 2;
  @include breakpoint-down(sm) {
    display: none;
  }
}

.button {
  @include breakpoint-up(md) {
    margin-left: 41%;
  }
}
