.transaction {
  display: block;
  width: 100%;
}

.link,
.body,
.cover {
  width: 100%;
}

.cover {
  position: relative;
  background-color: $secondary;
  color: $white;
}

.link {
  height: 100%;
  svg:not(.beam) {
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: color $timing-lg $ease-out, transform $timing-lg $ease-out;
    backface-visibility: hidden;
  }
  @include hover-state() {
    color: $white;
    .image {
      transform: scale(1.06);
    }
    svg:not(.beam) {
      transform: scale(0.96);
    }
    .beam {
      fill: $tertiary;
    }
  }
  @include active-state() {
    .image {
      transition: transform $timing-md $ease-out;
      transform: scale(1);
    }
  }
}

.imageWrapper {
  position: absolute;
  inset: 0;
  z-index: 0;
  &:after {
    content: '';
    position: absolute;
    inset: 0;
    @include dark-overlay-gradient();
  }
  &_inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.image {
  transform-origin: 50% 50%;
  transform: scale(1);
  transition: transform $timing-xl * 3 $ease-out;
  backface-visibility: hidden;
}

.logosCover {
  position: relative;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: $gutter * 0.5;
  aspect-ratio: 4/1.5;
  user-select: none;
  &:before,
  &:after {
    content: '';
    position: absolute;
  }
  &:before {
    top: -$gutter;
    left: 0;
    height: calc(100% + #{$gutter});
    width: $border-width;
    @include divider(left, $primary, true);
  }
  &:after {
    top: 0;
    left: -$gutter;
    height: $border-width;
    width: calc(100% + #{$gutter});
    @include divider(top, $primary, true);
  }
}

.transactionLogoFallback {
  font-size: $font-size-tiny;
  font-weight: $font-weight-bold;
  margin: 0;
  line-height: 1;
  padding: $gutter;
  color: $black;
}

.beam {
  height: 2.5rem;
  margin: 0 $gutter * 0.5;
  transition: fill $timing-md $ease-out;
}

.body {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: $gutter;
  svg {
    color: $accent;
    margin-left: auto;
  }
  @include breakpoint-up(md) {
    padding: $gutter * 1.5;
  }
}

.date,
.title {
  display: block;
  color: inherit;
  font-size: $h5-font-size;
}

.date {
  @include sub-heading();
  margin: 0 0 0.5rem 0;
}

.title {
  line-height: $line-height-base;
  margin: 0 0 1.25rem 0;
  width: 100%;
  @include breakpoint-up(md) {
    max-width: 66%;
  }
}

.excerpt {
  display: block;
  color: inherit;
  font-size: $font-size-small;
  @include line-clamp(2);
  margin: 0 0 1.25rem 0;
}
