// * Root
$root-prefix:                               'zma';


// * Colors
// Theme
$primary:                                   #300032;
$primary-alt:                               #400044;
$secondary:                                 #610067;
$tertiary:                                  #930075;
$accent:                                    #F0005C;
$light:                                     #E9DBE9; 
$lighter:                                   #F0E6F0;
$dark:                                      #400044;
$white:                                     #FFFFFF;
$black:                                     #1A1A1A;
// Body
$body-bg:                                   $light;
$body-color:                                $primary;
// Theme colors for utility
$colors: (
  "primary":                                $primary,
  "secondary":                              $secondary,
  "tertiary":                               $tertiary,
  "accent":                                 $accent,
  "light":                                  $light,
  "lighter":                                $lighter,
  "dark":                                   $dark,
  "white":                                  $white,
  "black":                                  $black,
);

// * Gradients
// Radial gradient size - See styles/mixins/_gradients.scss
$zumera-gradient-front:                     $accent;
$zumera-gradient-middle-front:              $tertiary;
$zumera-gradient-middle-back:               $primary-alt;
$zumera-gradient-back:                      $primary;
$zumera-gradient-size:                      120vmin;


// * Easings
$ease-out:                                  cubic-bezier(0.165, 0.840, 0.440, 1.000);
$ease-in:                                   cubic-bezier(0.470, 0.000, 0.745, 0.715);
$ease-in-out:                               cubic-bezier(0.770, 0.000, 0.175, 1.000);
$timing-xs:                                 60ms;
$timing-sm:                                 180ms;
$timing-md:                                 400ms;
$timing-lg:                                 800ms;
$timing-xl:                                 1520ms;


// * Layouts & spacings
$gutter:                                    1rem;
// Containers
$container-padding-x:                       $gutter;
$container-max-width:                       1248px;
// Spacings
$headings-margin-bottom:                    $gutter * 1.5;
$paragraphs-margin-bottom:                  $gutter;
$btn-wrapper-margin-top:                    $headings-margin-bottom * 2;


// * Typography
// Font families
$font-family-base:                          -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$font-family-sans-serif:                    'Yellix', $font-family-base;
$font-family:                               $font-family-sans-serif;
// Font-sizes
$font-size-base:                            16px;
$h1-font-size:                              clamp(2.5rem, -0.5203rem + 6.9444vw, 6rem);
$h2-font-size:                              clamp(2rem, -0.5203rem + 6.9444vw, 3.125rem);
$h3-font-size:                              clamp(1.375rem, -0.5203rem + 6.9444vw, 1.875rem);
$h4-font-size:                              clamp(1.125rem, -0.5203rem + 6.9444vw, 1.313rem);
$h5-font-size:                              clamp(1rem, -0.5203rem + 6.9444vw, 1.125rem);
$h6-font-size:                              clamp(1rem, -0.5203rem + 6.9444vw, 1.125rem);
$font-size-normal:                          clamp(1rem, -0.5203rem + 2.666vw, 1.33rem);
$font-size-small:                           clamp(0.8rem, -0.5203rem + 6.9444vw, 1rem);
$font-size-tiny:                            clamp(0.75rem, -0.5203rem + 6.9444vw, 0.9rem);
// Font weights
$enable-font-smoothing:                     true;
$font-weight-light:                         300;
$font-weight-regular:                       400;
$font-weight-medium:                        500;
$font-weight-semibold:                      600;
$font-weight-bold:                          700;
$font-weight-base:                          $font-weight-medium;
// Letter spacings
$letter-spacing-body:                       -0.0005em;
$letter-spacing-heading:                    0.05em;
// Line heights
$line-height-base:                          1.4;
$line-height-sm:                            1.2;
$line-height-lg:                            1.8;
$line-height-heading:                       1;


// * Breakpoints
// Access these via map-get()
// e.g. map-get($breakpoints, sm)
$breakpoints: (
  xs:                                       0,
  sm:                                       576px,
  md:                                       768px,
  lg:                                       992px,
  xl:                                       1200px,
  xxl:                                      1400px,
);


// * Borders
$border-width:                              1px;
$border-radius-sm:                          0.75rem;
$border-radius:                             1.25rem;
$border-radius-lg:                          1.75rem;
$border-radius-pill:                        50rem;


// * Buttons
$btn-padding-x:                             1.5rem;
$btn-padding-y:                             1rem;
$btn-border-radius:                         $border-radius-pill;
$btn-font-weight:                           $font-weight-medium;
$btn-font-size:                             1rem;
$btn-line-height:                           1;
$btn-letter-spacing:                        $letter-spacing-body;
$btn-box-shadow-color:                      $tertiary;
$btn-box-shadow:                            0 0 0.8rem rgba($btn-box-shadow-color, 0.62);
$btn-hover-box-shadow:                      0 0 1.2rem rgba($btn-box-shadow-color, 0.86);
$btn-active-box-shadow:                     0 0 0.6rem rgba($btn-box-shadow-color, 0.62);
$btn-disabled-opacity:                      0.5;
$btn-border-width:                          $border-width;
$btn-transition:                            color $timing-md $ease-out, background-color $timing-md $ease-out, border-color $timing-md $ease-out, box-shadow $timing-md $ease-out;
$btn-transition-active:                     color $timing-sm $ease-out, background-color $timing-sm $ease-out, border-color $timing-sm $ease-out, box-shadow $timing-sm $ease-out;


// * Header & Menus
$header-height-desktop:                     94px;
$header-height-mobile:                      74px;
$header-bg:                                 $light;
$header-transition:                         background-color $timing-xs linear;
$big-menu-bg:                               $light;


// * Scrollbars
$custom-scrollbar-size:                     4px;


// * Accessibility
$focus-outline-style:                       1px dashed $accent;
$focus-outline-offset:                      2px;


// * Z-index
$zindex-header:                             999;