@import './functions';

// * Root
$root-prefix: 'zma';

// * Colors
// Theme
$primary: #300032;
$primary-alt: #400044;
$secondary: #610067;
$tertiary: #930075;
$quaternary: #794d7c;
$accent: #f0005c;
$light: #d6ccd6;
$lighter: #eae5ea;
$dark: #400044;
$white: #ffffff;
$black: #1a1a1a;
// Body
$body-bg: $light;
$body-color: $primary;
// Theme colors for utility
$colors: (
  'primary': $primary,
  'secondary': $secondary,
  'tertiary': $tertiary,
  'accent': $accent,
  'light': $light,
  'lighter': $lighter,
  'dark': $dark,
  'white': $white,
  'black': $black,
);

// * Gradients
// Radial gradient size - See styles/mixins/_gradients.scss
$zumera-gradient-front: $accent;
$zumera-gradient-middle-front: $tertiary;
$zumera-gradient-middle-back: $primary-alt;
$zumera-gradient-back: $primary;
$zumera-gradient-size: 100vmin;

// * Easings
$ease-out: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-in: cubic-bezier(0.47, 0, 0.745, 0.715);
$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);
$timing-xs: 60ms;
$timing-sm: 180ms;
$timing-md: 400ms;
$timing-lg: 800ms;
$timing-xl: 1520ms;

// * Layouts & spacings
$gutter: 1rem;
// Containers
$container-padding-x: $gutter;
$container-max-width: 1248px;
// Spacings
$headings-margin-bottom: $gutter * 1.5;
$paragraphs-margin-bottom: $gutter;
$btn-wrapper-margin-top: $headings-margin-bottom * 2;

// * Typography
// Font families
$font-family-base: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$font-family-sans-serif: 'Yellix', $font-family-base;
$font-family: $font-family-sans-serif;
// Font-sizes
$font-size-base: 16px;
$h1-font-size: clamp(2.5rem, -0.5203rem + 6.9444vw, 5.44rem);
$h2-font-size: clamp(2rem, -0.5203rem + 6.9444vw, 4rem);
$h3-font-size: clamp(1.8rem, -0.5203rem + 6.9444vw, 2.66rem);
$h4-font-size: clamp(1.125rem, -0.5203rem + 6.9444vw, 2.125rem);
$h5-font-size: clamp(1rem, -0.5203rem + 6.9444vw, 1.125rem);
$h6-font-size: clamp(1rem, -0.5203rem + 6.9444vw, 1.125rem);
$font-size-big: clamp(1rem, -0.5203rem + 2.666vw, 1.25rem);
$font-size-normal: clamp(1rem, -0.5203rem + 2.666vw, 1.125rem);
$font-size-small: clamp(0.8rem, -0.5203rem + 6.9444vw, 1rem);
$font-size-tiny: clamp(0.75rem, -0.5203rem + 6.9444vw, 0.9rem);
// Font weights
$enable-font-smoothing: true;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-base: $font-weight-medium;
// Letter spacings
$letter-spacing-body: -0.0005em;
$letter-spacing-heading: 0.05em;
// Line heights
$line-height-base: 1.4;
$line-height-sm: 1.2;
$line-height-lg: 1.8;
$line-height-heading: 1;

// * Breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// * Sections
$section-sizes: (
  sm: $gutter * 3,
  md: $gutter * 5,
  lg: $gutter * 7,
  xl: $gutter * 9,
);
$section-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'white': $white,
);
$section-bgs: (
  'gradient': $primary,
  'primary': $primary,
  'secondary': $secondary,
  'tertiary': $tertiary,
  'light': $light,
);

// * Borders
$border-width: 1px;
$border-radius-sm: 0.75rem;
$border-radius: 1.25rem;
$border-radius-lg: 1.75rem;
$border-radius-pill: 50rem;

// * Buttons
$btn-padding-x: 1.5rem;
$btn-padding-y: 1rem;
$btn-border-radius: $border-radius-pill;
$btn-font-weight: $font-weight-medium;
$btn-font-size: 1rem;
$btn-line-height: 1;
$btn-letter-spacing: $letter-spacing-body;
$btn-box-shadow-color: $tertiary;
$btn-box-shadow: 0 0 1rem rgba($btn-box-shadow-color, 0.25);
$btn-hover-box-shadow: 0 0 1.25rem rgba($btn-box-shadow-color, 0.62);
$btn-active-box-shadow: 0 0 0.75rem rgba($btn-box-shadow-color, 0.62);
$btn-disabled-opacity: 0.5;
$btn-border-width: $border-width;
$btn-transition: color $timing-md $ease-out,
  background-color $timing-md $ease-out, border-color $timing-md $ease-out,
  box-shadow $timing-md $ease-out, opacity $timing-md $ease-out;
$btn-transition-active: color $timing-sm $ease-out,
  background-color $timing-sm $ease-out, border-color $timing-sm $ease-out,
  box-shadow $timing-sm $ease-out, opacity $timing-sm $ease-out;

// * Forms
$form-group-margin-bottom: $gutter * 2;
// Labels
$label-font-size: $font-size-tiny;
$label-font-weight: $font-weight-base;
$label-margin-bottom: $gutter * 0.5;
$label-required-mark-color: $accent;
// Inputs
$input-padding-x: $btn-padding-x;
$input-padding-y: $btn-padding-y;
$input-font-size: $btn-font-size;
$input-font-weight: $font-weight-base;
$input-line-height: 1.5;
$input-bg: transparent;
$input-color: $white;
$input-placeholder-color: rgba($input-color, 0.5);
$input-border-radius: $border-radius-lg;
$input-border-width: $border-width;
$input-border-color: $white;
$input-focus-bg: $input-bg;
$input-focus-color: $input-color;
$input-focus-border-color: $accent;
$input-disabled-opacity: $btn-disabled-opacity;
$input-transition: $btn-transition;
$input-description-font-size: $label-font-size;
$input-description-color: $white;
// Textarea
$textarea-border-radius: $border-radius;
// Selects
$select-arrow-color: url-friendly-color($input-color);
$select-arrow-icon: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 52 32'%3E%3Cpath fill='#{$select-arrow-color}' d='M32.3 25.76 52 6.24 45.7 0 26 19.52l-4.46-4.42L6.3 0 0 6.24l25.03 24.8.97.96 5.83-5.77.47-.47Z' /%3E%3C/svg%3E";
$select-arrow-icon-size: 16px 12px;
// Checkbox & Radios
$checkbox-border-color: $input-border-color;
$checkbox-bg: transparent;
$checkbox-size: 32px;
$checkbox-icon-size: $checkbox-size / 2;
$checkbox-border-radius: $checkbox-size * 0.125;
$checkbox-checked-color: url-friendly-color($white);
$checkbox-checked-icon: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 34 24'%3E%3Cpath fill='#{$checkbox-checked-color}' d='M12.56 18.03 3.05 8.69 0 11.68l9.52 9.33L12.57 24l3.05-2.99L34 2.98 30.95 0 12.56 18.03Z'/%3E%3C/svg%3E";
$checkbox-checked-icon-size: $checkbox-icon-size $checkbox-icon-size / 0.7;
$checkbox-checked-bg: $accent;
$checkbox-checked-border-color: $checkbox-checked-bg;

// * Header & Menus
$header-height-desktop: 94px;
$header-height-mobile: 74px;
$header-bg: $light;
$header-transition: background-color $timing-xs linear;
$big-menu-bg: $light;

// * Scrollbars
$custom-scrollbar-size: 4px;

// * Accessibility
$focus-outline-style: 1px dashed $accent;
$focus-outline-offset: 2px;

// * Z-index
$zindex-header: 999;
$zindex-chat-btn: 998;
