@import '/fonts/stylesheet.css';
@import './root';
@import './reboot';
@import './variables';
@import './typography';

*:focus,
*:focus-visible {
  outline: $focus-outline-style;
  outline-offset: $focus-outline-offset;
}

*:focus:not(:focus-visible) {
  outline: 0;
}

html,
body {
  font-family: $font-family;
  font-weight: $font-weight-base;
  width: 100%;
}

html {
  margin: 0;
  font-size: $font-size-base;
  @if ($enable-font-smoothing) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

body {
  background-color: $body-bg;
  color: $body-color;
  line-height: $line-height-base;
  &.no-scroll {
    overflow-y: hidden;
  }
}

::selection {
  background: $accent;
  color: $white;
}

::-moz-selection {
  background: $accent;
  color: $white;
}

a {
  color: inherit;
  text-decoration: none !important;
}

img {
  height: auto;
}

#__next {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
}

#main {
  flex: 1;
  flex-grow: 1;
  padding-top: var(--header-height);
}

//swiper js scrollbar override
.swiper-scrollbar-drag {
  background-color: $white !important;
}

.swiper-scrollbar {
  height: $gutter * 0.25 !important;
  background-color: $quaternary !important;
  margin: $gutter 0;
  width: 100% !important;
  left: 0 !important;
  position: relative !important;
}

.calendly-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 9999;
  background-color: #a5a5a5;
  background-color: rgba(31, 31, 31, 0.4);
  .calendly-close-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .calendly-popup {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 80%;
    min-width: 900px;
    max-width: 1000px;
    height: 90%;
    max-height: 680px;
    @include breakpoint-down(md) {
      min-width: 95vw;
    }
  }
  .calendly-popup-content {
    position: relative;
    height: 100%;
  }
  .calendly-spinner {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
  }
  iframe {
    display: inline;
    width: 100%;
    height: 100%;
  }
}
