.container {
  @include divider(bottom, $primary);
  padding-bottom: $gutter * 7.5;
  @include breakpoint-down(md) {
    padding-bottom: $gutter * 3.5;
  }
}
.containerInner {
  background: $white;
  padding: $gutter * 3.5;
}
.companyCol {
  display: flex;
  flex-direction: column;

  p {
    font-size: $font-size-big;
  }
}
