.container {
  @include divider(bottom, $primary);
  padding-bottom: $gutter * 7.5;
  @include breakpoint-down(md) {
    padding-bottom: $gutter * 5.5;
  }
}
.headingContainer {
  margin-bottom: $gutter * 3;
}
.containerInner {
  background: $white;
  padding: $gutter * 3.5;
  @include breakpoint-down(md) {
    padding: $gutter * 2;
  }
}
.companyCol {
  display: flex;
  flex-direction: column;
  @include breakpoint-down(md) {
    margin-bottom: 2.5rem;
  }

  p {
    margin-top: 1rem;
    font-size: $font-size-big;
  }
}
.companyLogo {
  position: relative;
  width: 80%;
  margin-bottom: 1.5rem;
}
