.container {
  display: flex;
  flex-wrap: wrap;
}
.imageWrapper {
  max-height: 400px;
  img {
    width: 100%;
  }
}
.row {
  margin-bottom: 2rem;
  @include breakpoint-down(md) {
    margin-bottom: 0;
    img {
      margin-bottom: 2rem;
    }
  }
}
