.grid {
  .col {
    display: flex;
    margin-bottom: 1.5rem;
    --gutter: 12px;
  }
}

// Two News columns support
// CardType.TwoNews
.twoNewsRow {
  display: flex;
  flex-direction: column;
  gap: var(--gutter);
  align-items: flex-start;
}

.twoNewsCol {
  // flex: 1;
  width: 100%;
}